<div class="flex flex-nowrap gap-4 pt-12 px-4 h-full">

  @if (hasLeftSidebar) {
    <app-sidebar
      direction="left"
      [title]="leftSidebarTitle"
      [initialOpen]="leftSidebarOpen"
      [storageKey]="leftSidebarStorageKey"
    >
      <ng-container *ngTemplateOutlet="leftSidebarContent"></ng-container>
    </app-sidebar>
  }

  <div class="grow h-full rounded-t-4xl bg-popover text-popover-foreground border-border px-6 pt-8 flex flex-col">

    <div class="flex items-center justify-between mb-6">
      <div class="flex items-center gap-3 grow">
        @if (hasLeadingContent) {
          <div class="flex items-center">
            <ng-container *ngTemplateOutlet="leadingContent"/>
          </div>
        }
        <h2 class="text-2xl font-bold text-black">
          {{ title }}
        </h2>
      </div>
      @if (hasActionButtons) {
        <div class="flex items-center gap-2">
            <ng-container *ngTemplateOutlet="actionButtonsContent"/>
        </div>
      }
    </div>

    <div class="flex-1 min-h-0 overflow-y-auto">
      @if (mainContentTemplate) {
        <ng-container *ngTemplateOutlet="mainContentTemplate"/>
      } @else {
        <ng-content></ng-content>
      }
    </div>

  </div>

  @if (hasMain2) {
    <div class="w-3/5 h-full rounded-t-4xl bg-popover text-popover-foreground border-border px-6 py-8 flex flex-col">

      <div class="flex items-center justify-between mb-6">
        <h2 class="grow text-2xl font-bold text-black">
          {{ main2Title }}
        </h2>
        @if (hasMain2ActionButtons) {
          <div class="flex items-center gap-2">
            <ng-container *ngTemplateOutlet="main2ActionButtonsContent"></ng-container>
          </div>
        }
      </div>

      <div class="flex-1 min-h-0 overflow-y-auto">
        <ng-container *ngTemplateOutlet="main2ContentTemplate"></ng-container>
        <div class="h-6 w-full"></div>
      </div>

    </div>
  }

  @if (hasRightSidebar) {
    <app-sidebar
      direction="right"
      [title]="rightSidebarTitle"
      [initialOpen]="rightSidebarOpen"
      [storageKey]="rightSidebarStorageKey"
    >
      <ng-container *ngTemplateOutlet="rightSidebarContent"></ng-container>
    </app-sidebar>
  }

</div>
