<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <img src="./assets/logo_utbm_blanc.png" alt="logo utbm">
        </div>

        <ul class="lien-nav">
            <li><a href="/listecours">Mes cours</a></li>
            <li><a href="/userform">Add user</a></li>
            <div class="entre"></div>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
            <div class="entre"></div>
            <li id="auth-status"><a href="#">Mon compte</a></li>
            <div class="entre"></div>
            <li><a href="#" (click)="logout()">Déconnexion</a></li>
            <!--<div class="entre" style="display: block;" {% else %} style="display: none;" {% endif %}></div>
            <li id="admin-gestion" style="display: block;" {% else %} style="display: none;" {% endif %}>
                
                <a href="#">Catalogue</a>
            </li>-->
        </ul>
    </div>

    <div *ngIf="user">
        <div class="user-container">
            <p>{{user.lastName}} {{user.firstName}}</p>
            <img [src]="'http://localhost:3000' + user.avatar" alt="Avatar" class="avatar">
        </div>
    </div>


</nav>