<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <img src="./assets/logo_utbm_blanc.png" alt="logo utbm">
        </div>

        <ul class="lien-nav">
            <li><a href="/listecours">Mes cours</a></li>
            <div class="entre"></div>
            <li><a href="/userform">Add user</a></li>
            <div class="entre"></div>
            <li><a href="/ueform">Add ue</a></li>
            <div class="entre"></div>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
            <div class="entre"></div>
            <li id="auth-status"><a href="#">Mon compte</a></li>
            <div class="entre"></div>
            <li><a href="#" (click)="logout()">Déconnexion</a></li>
            <!--<div class="entre" style="display: block;" {% else %} style="display: none;" {% endif %}></div>
            <li id="admin-gestion" style="display: block;" {% else %} style="display: none;" {% endif %}>
                
                <a href="#">Catalogue</a>
            </li>-->
        </ul>
    </div>

    <!--<div *ngIf="user">
        <div class="user-container">
            <p>{{user.lastName}} {{user.firstName}}</p>
            <img [src]="'http://localhost:3000' + user.avatar" alt="Avatar" class="avatar">
        </div>
    </div>-->
    <!--<div class="d-flex align-items-center">
        <ng-container *ngIf="user">
            <div *ngIf="!user.avatar; else avatarImage" class="avatar ms-3">
                {{ getInitiales() }}
            </div>
            <ng-template #avatarImage>
                <img [src]="user.avatar" alt="avatar" class="avatar-img ms-3">
            </ng-template>
        </ng-container>
    </div>-->

    <div *ngIf="user">
        <div class="user-container">
            <p>{{user.lastName}} {{user.firstName}}</p>

            <div *ngIf="!user?.avatar; else avatarImage" class="avatar">
                {{ getInitiales() }}
            </div>

            <ng-template #avatarImage>
                <img [src]="'http://localhost:3000' + user.avatar" alt="Avatar" class="avatar">
            </ng-template>
        </div>
    </div>

</nav>