<app-sidebar-layout
  [title]="'Forum'"
  [main2Title]="selectedDiscussionId ? discussionViewTitle : (showCreationForm ? 'Créer une nouvelle discussion' : '')"
  [showMain2]=" (selectedDiscussionId != null) || showCreationForm"
>
  <ng-template #actionButtons>
    <app-button (click)="onNewDiscussionClick()">
      Nouvelle Discussion
    </app-button>
  </ng-template>

  <ng-template #main2ActionButtons *ngIf="selectedDiscussionId">
    <app-icon-button icon="x" (click)="onCloseDiscussion()" variant="ghost" size="sm"></app-icon-button>
  </ng-template>

  <ng-template #main2ActionButtons *ngIf="showCreationForm">
    <app-icon-button icon="x" (click)="showCreationForm = false" variant="ghost" size="sm"></app-icon-button>
  </ng-template>

  <ng-template #mainContent>
    <app-discussion-list (discussionSelected)="onDiscussionSelected($event)"
                         [selectedDiscussionId]="selectedDiscussionId">
    </app-discussion-list>
  </ng-template>

  <ng-template #main2Content>
    <app-discussion-view *ngIf="selectedDiscussionId" [discussionId]="selectedDiscussionId" (discussionTitle)="discussionViewTitle = $event"></app-discussion-view>
    <app-discussion-creation *ngIf="showCreationForm" (discussionCreated)="onDiscussionCreated($event)"></app-discussion-creation>
  </ng-template>
</app-sidebar-layout>
