<app-sidebar-layout
  title="Logs d'activité"
>

  <app-tabs>

    <app-tab-item value="activity">Activités</app-tab-item>
    <app-tab-item value="login">Connexions</app-tab-item>

    <app-tab-content value="activity">
      <div class="max-h-[calc(100vh-250px)] overflow-auto">
        <app-array
          [data]="activityLogs"
          [columns]="activityLogsColumns"
          [loadingState]="activityLogsLoadingState"
          (loadMore)="onActivityLogsLoadMore()"
        ></app-array>
      </div>
    </app-tab-content>

    <app-tab-content value="login">
      <div class="max-h-[calc(100vh-250px)] overflow-auto">
        <app-array
          [data]="loginHistory"
          [columns]="loginHistoryColumns"
          [loadingState]="loginHistoryLoadingState"
          (loadMore)="onLoginHistoryLoadMore()"
        ></app-array>
      </div>
    </app-tab-content>
  </app-tabs>
</app-sidebar-layout>
