<div data-state="Default" data-type="default" data-variant="Default" class="self-stretch border-b border-border inline-flex justify-start items-start">
  <div class="w-48 p-4 flex justify-start items-center gap-2.5">
    <div class="justify-start text-foreground text-sm font-normal leading-normal">{{ users?.fullName }}</div>
  </div>
  <div class="w-72 p-4 flex justify-start items-center gap-2.5">
    <div class="justify-start text-foreground text-sm font-normal leading-normal">{{ users?.email }}</div>
  </div>
  <div class="flex-1 p-4 flex justify-start items-center gap-2.5">
    <div class="text-right justify-start text-foreground text-sm font-normal leading-normal">{{ users?.roles }}</div>
  </div>
</div>