<app-sidebar-layout
  title="Mes cours"
  [leftSidebarOpen]="false"
  [rightSidebarOpen]="true"
  rightSidebarTitle="Activitées récentes"
  rightSidebarStorageKey="recent-activities-sidebar"
>

  <ng-template #rightSidebar>
    <app-recent-activity-sidebar />
  </ng-template>

  <ng-template #actionButtons>
    <app-input
      type="text"
      placeholder="Commencer à chercher..."
      class="w-64"
      >
      <lucide-icon
        name="search"
        class="text-muted-foreground"
        slot="leading"
        size="12"
      />
    </app-input>

    <app-icon-button
      [icon]="showImages() ? 'image-off' : 'image'"
      size="sm"
      (click)="switchShowImages()"
      variant="ghost"
    />

    <!-- Add other actions here -->
  </ng-template>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for (course of courses; track course._id) {
        <app-course-box
                [course]="course"
                [showImage]="showImages()">
        </app-course-box>
    }
  </div>

</app-sidebar-layout>
