<app-sidebar-layout
  title="Mes cours"
  [leftSidebarOpen]="false"
  [rightSidebarOpen]="true"
  rightSidebarTitle="Activitées récentes"
>

  <ng-template #rightSidebar>
    <!-- Recent activities content -->
    <p>Recent activity content goes here.</p>
  </ng-template>

  <ng-template #actionButtons>
    <app-input
      type="text"
      placeholder="Commencer à chercher..."
      class="w-64"
      >
      <lucide-icon
        name="search"
        class="text-muted-foreground"
        slot="leading"
        size="12"
      />
    </app-input>
    <!-- Add other actions here -->
  </ng-template>


  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
    <app-course-box
      [course]="testCourse"
      [showImage]="true">
    </app-course-box>

    <app-course-box
      [course]="testCourse"
      [showImage]="false">
    </app-course-box>
  </div>

</app-sidebar-layout>
