body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Utilisation de toute la hauteur de la fenêtre */
}



h1 {
    color: #0a0a0a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5em;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}

.logo-utbm {
    padding: 1em 5em;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-content: flex-start;
    margin-top: 0.5em;
}

button[type="submit"] {
    background-color: #37A0C9;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    /* Rend le curseur en forme de main */
    text-align: center;
    margin: auto;
    width: 8em;
}

button[type="submit"]:hover {
    background-color: #56c6f3;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 1vh 1vh 3vh 2vh rgba(0, 0, 0, 0.2);
    width: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3em;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 3em;
    /* Espace pour l'icône */
    height: 3em;
    /* Hauteur explicite pour l'alignement */
    box-sizing: border-box;
}

.password-container ion-icon {
    position: absolute;
    right: 1em;
    top: 50%;
    cursor: pointer;
    color: #0a0a0a;
    font-size: 1em;
    /* Taille de l'icône */
    align-self: center;
    width: 1.5em;
    height: 1.5em;
    padding-top: 0.5em;
}

.titre{
    display: flex;
    flex-direction: column;
}

.motdepasse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}